/* *!SECTION - GENERAL - PROPERTIES  */
:root {
    --dark-color:#19283f;
}
body {
    font-family: 'Roboto', sans-serif;
}


/* *!SECTION - NAV - BAR  */
.navbar {
    background-color: var(--dark-color);
}